@import '../mixins';

.form-payPassword {
  border-bottom: 1px solid #dcdfe6;
  padding-left: 5px;
  display: flex;
  align-items: center;
  >div {
    padding-left: 10px;
  }
}
/*选择器**/
.form-select {
  width: 50px;
  height: 30px;
  border: none;
  background-color: #f1f3f8;
  border-radius: 5px;
  color: #999;
  text-align: center;
  option {
    text-align: center;
  }
}