@import '../mixins';
.cp-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}
.cp-carousel {
  min-height: 200px;
  width: 100%;
  .el-carousel__arrow {
    font-size: 46px;
    height: 50px;
    width: 50px;
  }
  .el-carousel__button {
    height: 5px;
  }
}
.cp-banner {
  margin-top: 10px;
  display: flex;
  flex: 0 0 240px;
  align-items: center;
  @at-root {
    .cp-banner__left {
      flex: 0 0 360px;
      height: 100%;
      @at-root {
        .cp-banner__ag {
          cursor: pointer;
          width: 100%;
          height: 118px;
          background: url('assets/images/ct/AGgame.png');
        }
        .cp-banner__mg {
          margin-top: 4px;
          width: 100%;
          height: 118px;
          cursor: pointer;
          background: url('assets/images/ct/MGgame.png');
        }
      }
    }
    .cp-banner__middle {
      flex: 0 0 540px;
      margin: 0 10px;
      height: 240px;
      background: url('assets/images/ct/cpgame.png');
    }
    .cp-banner__right {
      flex: 0 0 340px;
      @at-root {
        .cp-banner__qscode {
          position: relative;
          .cp-banner__qscode-media {
            height: 191px;
            background: url('assets/images/ct/down.png');
          }
          .cp-banner__qscode-text {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            color: #fff;
            height: 30px;
            line-height: 30px;
            background-color: rgba(0, 0, 0, 0.61);
            padding-left: 10px;
          }
        }
        .cp-banner__action {
          display: flex;
          height: 49px;
          .cp-banner__action-item {
            flex: 1;
            background-color: #fff;
            color: #333;
            font-size: 16px;
            height: 100%;
            line-height: 49px;
            text-align: center;
            cursor: pointer;
            &:nth-of-type(1) {
              border-right: 1px solid rgba(85, 85, 85, 0.178);
            }
          }
        }
      }
    }
  }
}

.cp-small__logo {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid rgba(85, 85, 85, 0.178);
  .cp-small__logo-img {
    background: url(formatUrl('/img/pc/static/images/common/footer-bank.png')) no-repeat;
    background-size: cover;
    height: 40px;
  }
}


/*关于我们**/
.about-page__content {
  height: 100%;
  border-radius: 5px;
  .about-page {
    height: 100%;
  }
  p {
    color: #666;
    font-size: 14px;
    line-height: 30px;
  }
  .about-content {
    text-align: left;
    margin:0 auto;
    padding: 20px 0px;
    font-size: 16px;
    line-height: 36px;
    color: #333;
  }
  .about-page__gua {
    background: #fff;
    height: 100%;
    padding: 10px 20px;
    overflow-y: auto;
  }
  .about-banner {
    width: 1220px;
    height: 200px;
    background: url(formatUrl('/img/pc/static/images/common/about.jpg')) no-repeat;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .about-page__tou {
    text-align: left;
    line-height: 40px;
    height: 40px;
    border-bottom: 2px solid #dfe4ed;
  }
  .about-banner__question {
    @extend .about-banner;
    background: url(formatUrl('/img/pc/static/images/common/faq.jpg')) no-repeat;
  }
  .about-banner__join {
    @extend .about-banner;
    background: url(formatUrl('/img/pc/static/images/common/join.jpg')) no-repeat;
  }
  .join-btn {
    width: 140px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

/*优惠发现**/
.notify-wrapper {
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
  color: #666;
  overflow: hidden;
  .notify-wrapper__content {
    height: 100vh;
    ul {
      height: 100%;
      overflow: auto;
    }
  }

  .cp-notify__item {
    display: flex;
    margin: 10px 0;
    .cp-notify__item-media {
      flex: 0 0 320px;
      height: 160px;
      border-radius: 5px;
      margin-right: 10px;
      border: 1px solid rgba(204, 204, 204, 0.185);
    }
    .cp-notify__item-body {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      .cp-notify__body-date {
        margin-bottom: 10px;
      }
      span {
        color: #333;
        font-size: 16px;
      }
    }
  }
}
