/* cdn域名地址*/
$publicImg: '//jkysxh.cn';
$container_width: 1260px;
$header_bg_color: #000000;

$ball_number_color: #e4b326,
                    #008cff,
                    #323057,
                    #ff7600,
                    #58a6a6,
                    #5434ff,
                    #b0b0b0,
                    #f92a08,
                    #700e01,
                    #09be00;

$dice_imgs: './assets/images/public/ico-dice.png';